.Canvas{
    width: 1920px;
    height: 2251px;
    background-color: white;
    /* 가운데에 보여주기 위한 코드 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.TitleInDetail{
    width: 100%;
    font-size: 28px;
    font-weight: 700;
    font-family: Pretendard;
    color: black;
}

.InputWrapper{
    margin-bottom: 24px;
}

.WriterInfo{
    width: 100%;
    /* height: 24px; */
    /* display 속성 적용하려면 너비, 높이가 정의되어 있어야 함. >?? 엥 했다가 height 없애니까 되네 또..Tlqkf */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: pretendard;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 16px;
    color: #5F5F5F;
    border-bottom: 1px solid #E4E4E4;
}

.Information{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.EtcWrapper{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.ContentsInDetail{
    font-size: 16px;
    font-weight: 400;
    font-family: pretendard;
    color: #000000;
}

.DislikeBox{
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    font-family: pretendard;
    color: #5F5F5F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* margin-right: 24px; */
}

.LikeBox{
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    font-family: pretendard;
    color: #F66A6A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
}

.LikeWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.MenuWrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

}

.MenuButton{
    width: 105px;
    height: 40px;
    border-radius: 8px;
    /* padding: 8px 12px; */
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    font-family: pretendard;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 24px;
}

.ButtonIcon{
    padding-right: 8px;
}

/* 
.ListButton{}

.EditButton{}
 */
